<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Api Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div id="container">
    <p>
      <strong>Janier Stiven Zapata </strong>
    </p>
    <p>
      <b>ING sistemas</b>
    </p>
    <p>
      <b>Semestre: 9</b>
    </p>
    <p> GitHub:  <a target="_blank" rel="noopener noreferrer" href="https://github.com/janierzapata">janierzapata</a></p>
    
    <ion-button  expand="block" color="primary"  [routerLink]="['/characterslist']">
      View Project
    </ion-button>
  </div>
</ion-content>
